@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap');
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');
@import url('https://webfontworld.github.io/gmarket/GmarketSans.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');


.mont {
    font-family: 'Montserrat';
}

.nanum {
    font-family: 'NanumSquareNeo';
}

.gmarket {
    font-family: 'GmarketSans';
}